https://thecleverprogrammer.com/2024/08/12/inflation-impact-analysis-with-python/

In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as pg

In [6]:
exchange_rate = pd.read_csv(r"D:\WORK\datascience\practice\Inflation-Impact-Analysis\USD_INR_Exchange_Rates_1980_2024.csv")
inflation_rate = pd.read_csv(r"D:\WORK\datascience\practice\Inflation-Impact-Analysis\Inflation_Rates_Transformed-1.csv")

In [8]:
exchange_rate

    Year  Average Exchange Rate (INR/USD)
0   2003                        45.476087
1   2004                        45.188604
2   2005                        44.003753
3   2006                        45.183561
4   2007                        41.192248
5   2008                        43.464831
6   2009                        48.283335
7   2010                        45.621969
8   2011                        46.562903
9   2012                        53.404276
10  2013                        58.528904
11  2014                        60.973456
12  2015                        64.124460
13  2016                        67.166366
14  2017                        65.109593
15  2018                        68.451756
16  2019                        70.509733
17  2020                        74.222812
18  2021                        73.935802
19  2022                        78.577051
20  2023                        82.577087
21  2024                        83.313471

In [9]:
inflation_rate

                                      Country  Year  Inflation Rate
0                                       India  1980            11.3
1                               United States  1980            13.5
2    Emerging market and developing economies  1980            26.0
3                                       India  1981            12.7
4                               United States  1981            10.4
..                                        ...   ...             ...
145                             United States  2028             2.1
146  Emerging market and developing economies  2028             4.3
147                                     India  2029             4.0
148                             United States  2029             2.1
149  Emerging market and developing economies  2029             4.2

[150 rows x 3 columns]

In [11]:
exchange_rate.isnull().sum()

Year                               0
Average Exchange Rate (INR/USD)    0
dtype: int64

In [12]:
inflation_rate.isnull().sum()

Country           0
Year              0
Inflation Rate    0
dtype: int64

In [19]:
inflation_data_df = inflation_rate[inflation_rate['Country'].isin(['India','United States'])]
inflation_data_df

           Country  Year  Inflation Rate
0            India  1980            11.3
1    United States  1980            13.5
3            India  1981            12.7
4    United States  1981            10.4
6            India  1982             7.7
..             ...   ...             ...
142  United States  2027             2.1
144          India  2028             4.0
145  United States  2028             2.1
147          India  2029             4.0
148  United States  2029             2.1

[100 rows x 3 columns]

In [25]:
inflation_pivot_df = inflation_data_df.pivot_table(index='Year',columns='Country',values='Inflation Rate').reset_index()
inflation_pivot_df.head()

Country  Year  India  United States
0        1980   11.3           13.5
1        1981   12.7           10.4
2        1982    7.7            6.2
3        1983   12.6            3.2
4        1984    6.5            4.4

In [28]:
merged_data = pd.merge(exchange_rate,inflation_pivot_df)
merged_data

    Year  Average Exchange Rate (INR/USD)  India  United States
0   2003                        45.476087    4.1            2.3
1   2004                        45.188604    4.0            2.7
2   2005                        44.003753    3.7            3.4
3   2006                        45.183561    6.7            3.2
4   2007                        41.192248    5.9            2.9
5   2008                        43.464831    9.2            3.8
6   2009                        48.283335   10.6           -0.3
7   2010                        45.621969    9.4            1.6
8   2011                        46.562903    8.1            3.1
9   2012                        53.404276   10.0            2.1
10  2013                        58.528904    9.4            1.5
11  2014                        60.973456    5.8            1.6
12  2015                        64.124460    4.9            0.1
13  2016                        67.166366    4.5            1.3
14  2017                        65.109593    3.6            2.1
15  2018                        68.451756    3.4            2.4
16  2019                        70.509733    4.8            1.8
17  2020                        74.222812    6.2            1.2
18  2021                        73.935802    5.5            4.7
19  2022                        78.577051    6.7            8.0
20  2023                        82.577087    5.4            4.1
21  2024                        83.313471    4.6            2.9